.dashboard-title {
    margin-right: 25px;
}

.problem-card {
    border: 4px solid;
    border-radius: 4px;
    padding: 25px 30px;
    margin: 15px 0;

    &-title {
        font-size: 1.6em;
        display: inline-block;
        margin-bottom: 0;
        margin-right: 15px;
    }
}

.latex-container {
    overflow-x: scroll;
}

.dropzone {
    width: 80%;
    margin: 25px auto;
    border-style: dashed !important;

    @media screen and (min-width: 900px) {
        width: 60%;
    }
}

.dz-message {
    font-size: 20px;
}


.h-245 {
    height: 245px;
}

.card {
    border-width: 3px;
}

.overflow-x-scroll {
    overflow-x: scroll;
}
